# Used by git shortlog - maps different names to a single author
hinell <al.neodim@gmail.com>
Hinell <al.neodim@gmail.com>
Alexander A. Davronov <al.neodim@gmail.com>
Alex A. Davronov <al.neodim@gmail.com>
Alex A. D. <al.neodim@gmail.com>
